[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-sqlalchemy = "*"
flask = "*"
requests = "*"
spotipy = "*"
pandas = "*"
numpy = "*"
jsonify = "*"
gunicorn = "*"
flask-cors = "*"
jinja2 = "*"
python-decouple = "*"
psycopg2-binary = "*"
tensorflow = "*"
decouple = "*"
autopep8 = "*"
idna = "*"
jsonschema = "*"
asn1crypto = "*"
astroid = "*"
attrs = "*"
backcall = "*"
bleach = "*"
certifi = "*"
cffi = "*"
chardet = "*"
click = "*"
cryptography = "*"
cycler = "*"
decorator = "*"
defusedxml = "*"
entrypoints = "*"
ipykernel = "*"
ipython = "*"
ipython-genutils = "*"
ipywidgets = "*"
isort = "*"
itsdangerous = "*"
jedi = "*"
jupyter-client = "*"
jupyter-console = "*"
jupyter-core = "*"
kiwisolver = "*"
lazy-object-proxy = "*"
markupsafe = "*"
matplotlib = "*"
mccabe = "*"
mistune = "*"
nbformat = "*"
notebook = "*"
pandocfilters = "*"
parso = "*"
patsy = "*"
joblib = "*"
pexpect = "*"
pickleshare = "*"
prometheus-client = "*"
prompt-toolkit = "*"
ptyprocess = "*"
pycodestyle = "*"
pycparser = "*"
pygments = "*"
pylint = "*"
pyopenssl = "*"
pyparsing = "*"
pyrsistent = "*"
pysocks = "*"
python-dateutil = "*"
pytz = "*"
pyzmq = "*"
qtconsole = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
send2trash = "*"
six = "*"
sqlalchemy = "*"
statsmodels = "*"
urllib3 = "*"

[requires]
python_version = "3.8"
