<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <title> Spotify! </title>
      <link rel="stylesheet" href="https://unpkg.com/picnic">
  </head>
  <body>
		<form method="POST" action="/output">
			Song Name : <input type="text" name="user_input_song">
            <input type="submit">
        </form>
        <form method="POST" action="/artist_tracks">
			Get All Tracks of An Artist : <input type="text" name="get_artist_tracks">
            <input type="submit">
		</form>
	</body>
  <h1>
    "Spotify"
  <h1/>